<div class="hero-unit">
  <h1><%= full_name @person %></h1>

  <p><strong>Email:</strong><%= @person.email %>

  <p><strong><%= "#{t('.count_of')} #{t('advert', count: 2)}"%>: </strong><%= @adverts_count %></p>

  <% if can? :edit, @person %>
      <%= link_to "#{t('.edit')}", persons_edit_path(id: @person), class: 'btn btn-warning' %>
  <% end %>

  <% if can? :destroy, @person %>
      <%= link_to t(".delete"), persons_delete_path(id: @person), method: :delete,
                  class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
  <% end %>
</div>

<% if @adverts.empty? %>
    <h3>User haven't adverts!</h3>
<% else %>
    <h3>All adverts of user:</h3>
<% end %>

<%= render @adverts %>
<%= paginate @adverts %>
