<div class="well">
  <%= show_state advert %>
  <%= link_to advert_path(advert) do %>
      <p><%= advert.body %></p>
  <% end %>
  <p><%= advert.type %></p>


  <% if can? :edit, advert.user %>
      <%= link_to full_name(advert.user), persons_profile_path(id: advert.user) %>
  <% else %>
      <small class='pull-right'><%= full_name advert.user %></small>
  <% end %>

  <% if can?(:manage, advert) and advert.state_is?(:new) %>
      <%= link_to 'Publish advert'.html_safe, admin_job_publish_path(advert: advert),
                  method: :post, class: 'btn btn-success pull-right' %>
      <%= link_to 'Rejected advert'.html_safe, admin_job_rejected_path(advert: advert),
                  method: :post, class: 'btn btn-danger pull-right' %>

  <% end %>
  <% if can? :destroy, advert.user %>
      <div id="options_panel" class="pull-right">
        <%= link_to '&times'.html_safe, advert, method: :delete, class: 'close', rel: "tooltip", title: "Удалить", data: {placement: "top"} %>
      </div>
  <% end %>

</div>

