<div class="well">
  <% if can? :destroy, advert %>
      <div id="options_panel" class="pull-right">
        <%= link_to '&times'.html_safe, advert, method: :delete, class: 'close', rel: "tooltip", title: "Delete", data: {placement: "top"} %>
      </div>
  <% end %>
  <%= debug advert if Rails.env.development? %>

  <%= show_state advert %>

  <p><%= advert.body %></p>
  <label><%= t('advert.fields.type') %>: </label>

  <p><%= advert.type %></p>
  <label>
    <%= t('advert.fields.author') %>:</label>
  <% if can? :read, advert.user %>
      <%= link_to full_name(advert.user), persons_profile_path(id: advert.user) %>
  <% else %>
      <p><%= full_name advert.user %></p>
  <% end %>

  <% unless advert.pictures.empty? %>
      <label><%= t('advert.fields.pictures') %>:</label>

      <div>
        <% advert.pictures.each do |p| %>
            <%= image_tag p.url(:small) %>
        <% end %>
      </div>
  <% end %>

  <%= render 'adverts/actions', advert: advert%>
</div>
