<div class="well">
  <% if can? :destroy, advert %>
      <div id="options_panel" class="pull-right">
        <%= link_to '&times'.html_safe, advert, method: :delete, class: 'close', rel: "tooltip", title: "Delete", data: {placement: "top"} %>
      </div>
  <% end %>

  <%= show_state advert %>

  <p><%= advert.body %></p>
  <label><%= t('advert.fields.type') %>: </label>

  <p><%= advert.type %></p>
  <label>
    <%= t('advert.fields.author') %>:</label>
  <% if can? :read, advert.user %>
      <%= link_to full_name(advert.user), persons_profile_path(id: advert.user) %>
  <% else %>
      <p><%= full_name advert.user %></p>
  <% end %>

  <% unless advert.pictures.empty? %>
      <label><%= t('advert.fields.pictures') %>:</label>

      <div>
        <% advert.pictures.each do |p| %>
            <%= image_tag p.url(:small) %>
        <% end %>
      </div>
  <% end %>

  <div>
    <% if can?(:approve, advert) %>
        <%= link_to t('advert.actions.approve'), admin_job_approve_path(id: advert),
                    method: :post, class: 'btn btn-success pull-right' %>

    <% end %>
    <% if can?(:reject, advert) %>
        <%= link_to t('advert.actions.reject'), admin_job_reject_reason_path(id: advert),
                    class: 'btn btn-danger pull-right' %>
    <% end %>
    <% if can? :update, advert %>
        <%= link_to t('advert.actions.update'), edit_advert_path(advert), class: 'btn btn-default' %>
    <% end %>

    <% if can? :read, advert %>
        <%= link_to t('advert.actions.show'), advert_path(advert), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
