<div class="well">
  <% if can? :destroy, advert.user %>
      <div id="options_panel" class="pull-right">
        <%= link_to '&times'.html_safe, advert, method: :delete, class: 'close', rel: "tooltip", title: "Delete", data: {placement: "top"} %>
      </div>
  <% end %>

  <%= show_state advert %>

  <p><%= advert.body %></p>
  <label>Type: </label>

  <p><%= advert.type %></p>
  <label>Author:</label>
  <% if can? :read, advert.user %>
      <%= link_to full_name(advert.user), persons_profile_path(id: advert.user) %>
  <% else %>
      <p><%= full_name advert.user %></p>
  <% end %>

  <label>Pictures:</label>

  <div>
    <% advert.pictures.each do |p| %>
        <%= image_tag p.url(:small) %>
    <% end %>
  </div>

  <% if can?(:manage, advert) and advert.state_is?(:new) %>
      <%= link_to 'Publish advert'.html_safe, admin_job_publish_path(advert: advert),
                  method: :post, class: 'btn btn-success pull-right' %>
      <%= link_to 'Rejected advert'.html_safe, admin_job_rejected_path(advert: advert),
                  method: :post, class: 'btn btn-danger pull-right' %>
  <% end %>

  <% if can?  :read, advert %>
      <%= link_to "Show advert", advert_path(advert), class: 'btn btn-success' %>
  <% end %>

</div>
