<%= simple_form_for(@advert) do |f| %>

    <div class="form-inputs">
      <%= f.input :body %>
    </div>


    <%= f.select :type, @types %>

    <%= f.file_field('advert_pictures_image', multiple: true, name: "advert[pictures_attributes][][image]") %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>

<% end %>
