<%= simple_form_for(@advert) do |f| %>

    <div class="form-inputs">
      <%= f.label t('advert.fields.body') %>
      <%= f.text_area :body %>
    </div>

    <div class="form-inputs">
      <%= f.label t('advert.fields.type') %>
      <%= f.select :type, @types %>
    </div>

    <% unless @advert.pictures.empty? %>
        <div>
          <label><%= t('advert.fields.pictures') %></label>

          <div>
            <% @advert.pictures.each do |p| %>
                <%= image_tag p.url(:small) %>
            <% end %>
          </div>
        </div>
    <% end %>


    <div class="form-inputs">
      <%= f.label "#{t('.choose')} #{t('advert.fields.pictures')}" %>
      <%= f.file_field 'advert_pictures_image', multiple: true, name: "advert[pictures_attributes][][image]"  %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, value: "#{t 'views.create'} #{t 'advert', count: 1}"%>
    </div>

<% end %>
