<h3>Search:</h3>
<%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :body_cont, "Body contains" %>
      <%= f.search_field :body_cont %>
      <%= f.label :type_name_cont, "Type contains" %>
      <%= f.search_field :type_name_cont %>
    </div>
    <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<h3>Sort by:</h3>
<div class='btn-group'>
  <button class='btn'> <%= sort_link @search, :updated_at %></button>
  <button class='btn'> <%= sort_link @search, 'type_id', 'Type', class: 'btn' %></button>
  <button class='btn'> <%= sort_link @search, 'user_id', 'User', class: 'btn' %></button>
</div>
