<%= render 'search_sort' %>
<% if @adverts.empty? %>
    <h3><%= t('.no_adverts') %> =(</h3>
<% else %>
    <h3><%= cap t('advert', count: @adverts.count) %>:</h3>
    <%= render @adverts %>
    <%= paginate @adverts %>
<% end %>