<p>
  <strong><%= t('advert.fields.body') %>:</strong>
  <%= @advert.body %>
</p>

<p>
  <strong><%= t('advert.fields.author') %>:</strong>
  <% if can? :read, @advert.user %>
      <%= link_to full_name(@advert.user), profile_path(id: @advert.user) %>
  <% else %>
      <%= full_name @advert.user %>
  <% end %>
</p>

<p>
  <strong><%= t('advert.fields.type') %>:</strong>
  <%= @advert.type %>
</p>

<% unless @advert.pictures.empty? %>
    <label><%= t('advert.fields.pictures') %>:</label>

    <div>
      <% @advert.pictures.each do |p| %>
          <%= image_tag p.url(:medium) %>
      <% end %>
    </div>
<% end %>
<%= render 'adverts/actions', advert: @advert%>


<%= link_to t('views.back'), :back, class: 'btn btn' %>
