<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @advert.body %>
</p>

<p>
  <strong>Author:</strong>
  <% if can? :read, @advert.user %>
      <%= link_to full_name(@advert.user), persons_profile_path(id: @advert.user) %>
  <% else %>
      <%= full_name @advert.user %>
<% end %>
</p>

<p>
  <strong>Type:</strong>
  <%= @advert.type %>
</p>

<label>Pictures:</label>

<div>
  <% @advert.pictures.each do |p| %>
      <%= image_tag p.url(:medium) %>
  <% end %>
</div>

<% if can?(:manage, @advert) and @advert.state_is?(:new) %>
    <%= link_to 'Publish advert'.html_safe, admin_job_publish_path(advert: @advert),
                method: :post, class: 'btn btn-success pull-right' %>
    <%= link_to 'Rejected advert'.html_safe, admin_job_rejected_path(advert: @advert),
                method: :post, class: 'btn btn-danger pull-right' %>
<% end %>


<%= link_to 'Back', :back, class: 'btn btn'%>
