<h3>All types:</h3>
<ul>
  <% @types.each do |type| %>
      <li>
        <%= type %>
        <% if can? :destroy, type %>
            <%= link_to 'Delete', admin_job_delete_type_path(id: type), method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </li>
  <% end %>
</ul>

<h3>New type</h3>

<%= simple_form_for(@type, url: admin_job_create_type_path, html: {method: :put}) do |f| %>

    <div class="form-inputs">
      <%= f.input :name, required: true, autofocus: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
<% end %>