<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <% if user_signed_in? %>
        <li><p>Hi, <%= full_name current_user %></p></li>
        <li>  <%= button_to 'Log out', destroy_user_session_path, :method => :delete, class: 'btn btn-warning btn-block' %></li>
    <% else %>
        <li><p>You are Guest</p></li>
        <li> <%= button_to 'Log in', new_user_session_path, method: :get, class: 'btn btn-primary btn-block' %></li>
        <li> <%= button_to 'Registration', new_user_registration_path, method: :get, class: 'btn btn-block' %></li>
    <% end %>
    <% if user_signed_in? %>
        <ul class="nav nav-header">Your Ability</ul>

        <% if can? :create, Advert %>
            <li><%= button_to "New advert", new_advert_path, method: :get, class: 'btn btn-success btn-block' %></li>
        <% end %>

        <% if can? :edit, current_user %>
            <li><%= button_to "Edit my profile", edit_user_registration_path(current_user), method: :get, class: 'btn btn-warning btn-block' %></li>
        <% end %>

        <% if can? :create, User %>
            <li><%= button_to 'Create new user', persons_new_path, method: :get, class: 'btn btn-block' %></li>
        <% end %>

        <% if can? :publish, Advert %>
            <li><%= button_to 'Publish new advert', admin_job_nonpublished_path, method: :get, class: 'btn btn-block' %></li>
        <% end %>

    <% end %>
  </ul>
</div>