<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <% if user_signed_in? %>
        <li><p><%= t '.hi' %>, <%= full_name current_user %></p></li>
        <li>  <%= button_to t('.logout'), destroy_user_session_path, :method => :delete, class: 'btn btn-warning btn-block' %></li>
    <% else %>
        <li><p><%= t'.you_are_guest' %></p></li>
        <li> <%= button_to t('.login'), new_user_session_path, method: :get, class: 'btn btn-primary btn-block' %></li>
        <li> <%= button_to t('.registration'), new_user_registration_path, method: :get, class: 'btn btn-block' %></li>
    <% end %>
    <% if user_signed_in? %>
        <ul class="nav nav-header"><%= t('.your_ability') %></ul>

        <% if can? :create, Advert %>
            <li><%= button_to t(".new_advert"), new_advert_path, method: :get, class: 'btn btn-success btn-block' %></li>
        <% end %>

        <% if can? :create, User %>
            <li><%= button_to t('.create_new_user'), persons_new_path, method: :get, class: 'btn btn-block' %></li>
        <% end %>

        <% if can? :approve, Advert %>
            <li><%= button_to t('.approve_new_adverts'), nonpublished_adverts_path, method: :get, class: 'btn btn-block' %></li>
        <% end %>
        <% if can? :create, Type %>
            <li><%= button_to t('.manage_type'), types_path, method: :get, class: 'btn btn-block' %></li>
        <% end %>

    <% end %>
  </ul>
</div>